*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --normal-font-color: #4a5058;
    --button-color: rgb(55, 55, 85);
    --button-border-color: #fff;
}
body{
    background-color: #fff;
}
/*Header Styles*/
.header_main_division{
    display: flex;
    justify-content: space-between;
    background-color: rgb(219, 219, 219);
    border-bottom: 0.1rem solid rgb(163, 163, 163);
}
.header_main_division .navbar ul li{
    list-style-type: none;
    display: inline-block;
}
.logo{
    color: #2f2646;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5vw;
    margin: 0.2rem;
    padding: 1rem;
    display: inline-block;
    border-radius: 0.5rem;
}
.navlink{
    text-decoration: none;
    color: var(--normal-font-color);
    padding: 0.4rem 1rem;
    margin: 0.8rem 0;
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
}
.active::after, .navlink:hover:after{
    content: "";
    width: 3rem;
    height: 0.2rem;
    background-color: rgb(45, 45, 80);
    position: absolute;
    left: 14px;
    bottom: -13px;
}

/*Type of Land Styles*/
.typeofland{
    text-align: center;
    margin-top: 10%;
}
.na, .a{
    border: 0.1rem solid rgb(26, 26, 36);
    display: inline;
    margin: 1.5rem;
    padding: 1rem;
    font-size: 2vw;
    font-weight: bolder;
    border-radius: 0.3rem;
}
.na:hover, .a:hover{
    background-color: rgb(238, 238, 245);
}
.link_na, .link_a{
    text-decoration: none;
    color: var(--normal-font-color);
}
.home_span{
    color:rgb(42, 7, 145);
}

/*Page Not Found Styles*/
.page_not, .reload_does_not, .kindly_go_home{
    color: var(--normal-font-color);
    text-align: center;
    margin: 0.5rem;
}
.page_not{
    font-size: 1.2rem;
    color: var(--normal-font-color);
}
.home_button a{
    text-decoration: none;
    color: var(--normal-font-color);
    padding: 0.5rem 1rem;
    display: block;
    font-weight: bolder;
}
.home_button{
    background-color: black;
    border: 0.1rem solid white;
    border-radius: 0.3rem;
}
.home_button_par{
    text-align: center;
    margin: 1rem;
}

/*Select State Page Styles*/
.select_state_parent{
    text-align: center;
    margin-top: 2rem;
}
.states_links{
    text-decoration: none;
    color: var(--normal-font-color);
    padding: 0.5rem 1rem;
    border: 0.1rem solid rgb(26, 26, 36);
    margin: 1rem;
    display: inline-block;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}
.select_state{
    color: var(--normal-font-color);
    font-size: 1.8rem;
    margin: 1rem;
}

/*Main TG Page Styles*/
.tga_main_contents_tag::after, .tgna_main_contents_tag::after{
    content: "";
    display: block;
    clear: both;
}
.tga_main_contents_tag, .tgna_main_contents_tag{
    margin: 1rem 0 1rem 0;
}
.tga_contents, .tgna_contents{
    float: left;
    width: 72%;
    margin: 1rem;
    border: 0.1rem solid rgb(104, 104, 129);
    border-radius: 0.4rem;
    padding: 1rem;
}
.tga_listofcontents, .tgna_listofcontents{
    float: right;
    width: 20%;
    margin: 1rem;
    border: 0.1rem solid rgb(66, 66, 88);
    border-radius: 0.4rem;
    padding: 1rem;
}

/*Footer Styles*/
.footer_main_logo{
    color: rgb(208, 208, 238);
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5vw;
    display: inline-block;
}
.footer{
    background: linear-gradient(90deg, rgb(31, 31, 49), rgb(66, 66, 109));
    color: rgb(208, 208, 238);
    display: flex;
    justify-content: space-between;
}
.footer span{
    margin: 0.1rem;
    padding: 0.5rem;
    display: inline-block;
}
.footer_main_division{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer_not_fix_main_division{
    width: 100%;
}

/*List of Contents Styles*/
.listofcontents ol li{
    list-style-position: inside;

}
.listofcontents_links{
    text-decoration: none;
    color: red;
    display: inline-block;
    padding: 0.5rem;
}

/*Contact Us and Feedback Page Styles*/
.contact_main_tag, .feedback_main_tag{
    margin: 1rem;
}
.contact_heading, .feedback_heading{
    color: var(--normal-font-color);
    padding: 0 0 1rem 0;
    margin: 0 0 0.1rem 0;
    text-decoration: 0.2rem underline var(--normal-font-color);
}
.contact_email_id, .feedback_email_id{
    color: var(--normal-font-color);
    font-weight: bolder;
    margin: 0.1rem 0.1rem 0.1rem 2rem;
}
.contact_email_id span, .feedback_email_id span{
    color: rgb(24, 24, 43);
}

/*About Page Styles*/
.about_main_tag{
    margin: 1rem;
}
.about_heading{
    padding: 0 0 1rem 0;
    margin: 0 0 0.1rem 0;
    color: var(--normal-font-color);
    text-decoration: 0.2rem underline var(--normal-font-color);
}
.about_info p{
    color: var(--normal-font-color);
    padding: 0 0 0.5rem 0;
    margin: 0 0 0.1rem 0;
}