*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --normal-font-color: #4a5058;
}
body{
    background-color: #fff;
}
.logo{
    color: #2f2646;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5vw;
    margin: 0.2rem;
    padding: 1rem;
    display: inline-block;
    border-radius: 0.5rem;
}
.typeofland{
    text-align: center;
    margin-top: 10%;
}
.na, .a{
    border: 0.1rem solid rgb(26, 26, 36);
    display: inline;
    margin: 1.5rem;
    padding: 1rem;
    font-size: 2vw;
    font-weight: bolder;
    border-radius: 0.3rem;
}
.na:hover, .a:hover{
    background-color: rgb(238, 238, 245);
}
.link_na, .link_a{
    text-decoration: none;
    color: var(--normal-font-color);
}
span{
    color:rgb(42, 7, 145);
}
.header_main_division{
    display: flex;
    justify-content: space-between;
    background-color: rgb(219, 219, 219);
    border-bottom: 0.1rem solid rgb(163, 163, 163);
}
.navlink{
    text-decoration: none;
    color: var(--normal-font-color);
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    display: inline-block;
    margin: 0.3rem;
}
.navlink:hover{
    color: var(--normal-font-color);
    background-color: rgb(219, 219, 223);
    border-radius: 0.5rem;
}
.page_not, .reload_does_not, .kindly_go_home{
    color: var(--normal-font-color);
    text-align: center;
    margin: 0.5rem;
}
.page_not{
    font-size: 1.2rem;
    color: var(--normal-font-color);
}
.home_button a{
    text-decoration: none;
    color: var(--normal-font-color);
    padding: 0.5rem 1rem;
    display: block;
    font-weight: bolder;
}
.home_button{
    background-color: black;
    border: 0.1rem solid white;
    border-radius: 0.3rem;
}
.home_button_par{
    text-align: center;
    margin: 1rem;
}
.select_state_parent{
    text-align: center;
    margin-top: 2rem;
}
.states_links{
    text-decoration: none;
    color: var(--normal-font-color);
    padding: 0.5rem 1rem;
    background-color:rgb(1, 34, 1);
    margin: 1rem;
    border: 0.1rem solid #fff;
    display: inline-block;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}
.select_state{
    color: var(--normal-font-color);
    font-size: 1.8rem;
    margin: 1rem;
}