*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(1, 139, 1);
}
.logo{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5vw;
    margin: 0.2rem;
    padding: 1rem;
    display: inline-block;
    background-color: rgb(19, 5, 99);
    border-radius: 0.5rem;
}
.typeofland{
    text-align: center;
    margin-top: 10%;
}
.na, .a{
    border: 0.1rem solid rgb(255, 255, 255);
    display: inline;
    margin: 1.5rem;
    padding: 1rem;
    font-size: 2vw;
    font-weight: bolder;
    border-radius: 0.3rem;
    background-color:rgb(1, 34, 1);
}
.na:hover, .a:hover{
    background-color: transparent;
}
.link_na, .link_a{
    text-decoration: none;
    color: #fff;
}
span{
    color:rgb(218, 214, 236);
}
.header_main_division{
    display: flex;
    justify-content: space-between;
}
.navlink{
    text-decoration: none;
    color: #fff;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    display: inline-block;
    margin: 0.3rem;
}
.navlink:hover, .active{
    color: #343544;
    background-color: rgb(236, 95, 0);
    border-radius: 0.5rem;
}