@media only screen and (max-width: 700px) {

    /*Header Styles*/
    .logo {
        margin: 0.1rem;
        padding: 0.3rem;
        font-size: 1rem;
    }

    .tgna_listofcontents, .tga_listofcontents{
        height: auto;
        width: 100%;
        background-color: #dbdcdd;
        overflow-y: auto;
        overflow-x: auto;
        padding-top: 20px;
    }
    .tga_contents, .tgna_contents{
        border-right: none;
        overflow-y: scroll;
        height: auto;
    }

    .bar_one, .bar_two, .bar_three, .contents_bar_one, .contents_bar_two,.contents_bar_three{
        width: 25px;
        height: 2px;
        background-color: rgb(17, 17, 24);
        margin: 5px;
        transition: linear 0.2s;
    }
    .listofcontents_main_tag{
        display: none;
        width: 80%;
    }
    .common_class{
        margin: 0;
    }
    .common_class h1{
        font-size: 1rem;
    }
    .common_class p{
        font-size: 0.9rem;
    }
    
    .header_top{
        display: flex;
        justify-content: space-between;
        padding: 0.4rem;
        align-items: center;
    }

    .main_logo {
        text-align: center;
    }

    .active::after,
    .navlink:hover:after {
        content: "";
        height: 0.08rem;
        width: 1.5rem;
        left: 4px;
        bottom: 0;
    }

    .header_main_division {
        display: block;
    }

    .navchange .bar_one{
        transform: translate(0px, 5px) rotate(42deg)
    }
    .navchange .bar_two{
        opacity: 0;
    }
    .navchange .bar_three{
        transform: translate(0px, -9px) rotate(-42deg)
    }
    .contentnavchange .contents_bar_one{
        transform: translate(0px, 5px) rotate(42deg)
    }
    .contentnavchange .contents_bar_two{
        opacity: 0;
    }
    .contentnavchange .contents_bar_three{
        transform: translate(0px, -9px) rotate(-42deg)
    }

    .navbar{
        display: none;
        padding-top: 0.5rem;
    }

    .navbarshadow{
        box-shadow: 0px 0px 10px 2px rgb(88, 88, 88);
    }

    .header_main_division .navbar ul li {
        display: block;
        text-align: center;
    }

    .navlink {
        display: inline-block;
        text-align: center;
        font-size: 0.9rem;
        padding: 0.3rem;
        margin: 0.08rem;
    }

    /*Homepage Styles*/
    .typeofland {
        text-align: center;
    }

    .na,
    .a {
        font-size: 1rem;
        display: block;
    }

    .homepage_main_division{
        background: url("../public/ou.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 51%;
        height: 100vh;
    }

    /*Page Not Found Styles*/
    .page_not {
        font-size: 1.2rem;
        color: rgb(10, 2, 43);
    }

    .home_button a {
        padding: 0.2rem 0.7rem;
    }

    /*Main TGNA Page Styles*/
    .tga_listofcontents,
    .tgna_listofcontents{
        font-size: 0.9rem;
    }

    .tga_contents,
    .tgna_contents {
        margin: 1rem;
        padding: 0.4rem;
    }

    .tga_main_contents_tag,
    .tgna_main_contents_tag {
        margin: 0;
        display: grid;
        grid-template-columns: none;
        padding: 0;
    }

    /*Footer Styles*/
    .footer_main_logo {
        display: inline-block;
        font-size: 0.7rem;
    }

    .footer {
        display: block;
        text-align: center;
    }

    .terms_of_use_link,
    .privacy_policy_link {
        font-size: 0.7rem;
    }

    .footer_copyrights_part {
        font-size: 0.7rem;
        padding: 0;
        margin: 0;
    }

    /*About Page Styles*/
    .about_heading {
        font-size: 1.1rem;
        text-decoration: 0.1rem underline var(--normal-font-color);
    }

    .about_info p {
        font-size: 0.8rem;
    }

    /*Contact and Feedback Styles*/
    .contact_heading,
    .feedback_heading {
        font-size: 1.1rem;
    }

    .contact_email_id,
    .feedback_email_id {
        font-size: 0.9rem;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 319x) {

    /*Main TGNA Page Styles*/
    .tga_listofcontents,
    .tga_listofcontents.active,
    .tgna_listofcontents,
    .tgna_listofcontents.active {
        padding: 0.4rem;
        font-size: 0.9rem;
        margin: 0 0 1rem 0;
    }

    .tga_contents,
    .tgna_contents {
        margin: 1rem 0 1rem 0;
        padding: 0.4rem;
    }
}